<form (ngSubmit)="onSubmit()" #form="ngForm" class="center">
    <div>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
      <div>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div><br>

    <div>
      <button type="submit" class="btn btn btn-success" [disabled]="!form.valid">Login</button>
    </div>
  </form>
  